* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 1rem;
    background-color: #092244;
    color: white;
    justify-items: center;
    align-items: center;
    display: flex;
}

.buttonLogo,
.buttonLogin {
    padding: 0.2rem;
    display: block;
    color: white;
    width: 10rem;
    text-align: center;
}

button {
    background-color: #092244;
    border: none;
}

.home {
    font-size: 1.2rem;
}

.loginUsuario {
    font-size: 1.5rem;
}

.home,
.loginUsuario {
    color: #ffff;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.Logo {
    height: 5rem;
    width: 5rem;
}

.login {
    height: 4rem;
    width: 4rem;
}

.todomenu {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 77rem;
}

.menu {
    font-size: 1.7rem;
    text-decoration: underline;
    color: #ffff;
    font-weight: bold;
    text-align: center;
    padding-inline: 4rem;
}


/*
header {
    padding: 2rem;
    background-color: #092244;
    color: white;
}

button {
    background-color: #092244;
    border: none;
}

.Logo {
    height: 7rem;
    width: 7rem;
}

.menu {
    padding-inline: 5rem;
    font-size: 1.5rem;
    text-decoration: underline;
}

.login {
    height: 5rem;
    width: 5rem;
}

main {
    background: #2F4B72;
    color: white;
}

a {
    color: #ffff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

img {
    padding: 1rem;
}

.usinainfo {
    height: 10rem;
    width: 21rem;
}

.comofazer {
    height: 10rem;
    width: 28rem;
}

.faculdade {
    height: 14rem;
    width: 16rem;
    border-radius: 12%;
}

.canais {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}

.grupo1,
.grupo2,
.grupo3 {
    display: inline-block;
    text-align: center;
    padding-inline: 3.27rem;
    padding-block: 2rem;
}

.grupo4,
.grupo5 {
    padding-inline: 6rem;
}

.grupo6 {
    padding-inline: 10rem;
}

.grupo4,
.grupo5,
.grupo6 {
    display: inline-block;
    text-align: center;
    padding-block: 2rem;
}*/