* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 1rem;
    background-color: #092244;
    color: white;
    justify-items: center;
    align-items: center;
    display: flex;
}

.buttonLogo,
.buttonLogin {
    padding: 0.2rem;
    display: block;
    color: white;
    width: 10rem;
    text-align: center;
}

button {
    background-color: #092244;
    border: none;
}

.home {
    font-size: 1.2rem;
}

.loginUsuario {
    font-size: 1.5rem;
}

.home,
.loginUsuario {
    color: #ffff;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.Logo {
    height: 6rem;
    width: 6rem;
}

.login {
    height: 5rem;
    width: 5rem;
}

.todomenu {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 77rem;
}

.menu {
    font-size: 1.7rem;
    text-decoration: underline;
    color: #ffff;
    font-weight: bold;
    text-align: center;
    padding-inline: 4rem;
}


/*
header {
    padding: 2rem;
    background-color: #092244;
    color: white;
}

button {
    background-color: #092244;
    border: none;
}

.Logo {
    height: 7rem;
    width: 7rem;
}

.menu {
    padding-inline: 5rem;
    font-size: 1.5rem;
    text-decoration: underline;
}

.login {
    height: 5rem;
    width: 5rem;
}

a {
    color: #ffff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    background: #2F4B72;
    color: white;
}

.camera {
    height: 40rem;
    width: 20rem;
    display: flex;
    border: 1px solid red;
}

.conteud {
    display: flex;
    font-size: large;
    border: 1px solid red;
}

.digital {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 15rem;
    width: 27rem;
}

p {
    padding: 2rem;
    text-align: center;
}*/